body {
  background-color: #ffffff;
  font-family: 'Port Lligat Slab', serif;
  font-size: 18px;
}

div.container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
   "header header"
   "main   aside"
   "footer footer";
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

header {
  background-color: #522d80;
  grid-area: header;
  font-size: 25px;
  text-align: center;
  color: #F66733;
}

main {
  grid-area: main;
  background-color: #ffffff;
  padding-right: 15px;
  padding-left: 15px;
}

aside {
  background-color: #ffffff;
  grid-area: aside;
  padding-right: 15px;
  padding-left: 20px;
}

footer {
  background-color: #ffffff;
  grid-area: footer;
}

@media (max-width: 600px){

  div.container {
    grid-template-columns: 1fr;
    grid-template-areas:
       "header"
       "main"
       "aside"
       "footer";
  }
}

table {
   border-collapse: collapse;
   margin-top: 15px;
}

caption {
  color: #522d80;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Graduate', cursive;
}

thead {

}

tbody {

}

tr {

}

tr.home {
  background-color: #cccccc;
}

tr.away {
  background-color: #ffffff;
}

th {
  background-color: #f16a26;
  color: #ffffff;
  padding: 7px;
}

td {
  padding: 7px;
}

@media (max-width: 600px) {

  table {
    width: 100%;
  }

  thead {
    display: none;
  }

  tr {
    border: 1px solid #aaaaaa;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  td {
    display: block;
    text-align: right;
  }

  td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  }
}

img {
  padding-top:10px;
  max-width:100%;
}

img.center {
  display: block;
  margin: 0 auto;
}

/* unvisited link */
a:link {
  color:#109DC0;
}

/* visited link */
a:visited {
  color:#522D80;
}

/* mouse over link */
a:hover {
  color:#B5C327;
}

/* selected link */
a:active {
  color: #ffffff;
}

h1 {
  color:#F66733;
  text-align:center;
  font-family: 'Alegreya SC', serif;
  font-weight: 700;
}

h2 {
  color:#522D80;
  text-align: center;
  font-family: 'Graduate', cursive;
  font-size: 30px
}

h3 {
  color:#F66733;
  text-align: center;
  font-family: 'Graduate', cursive;
  font-size: 20px;
}

p {
  text-align: left;
  line-height: 1.5;
}
